.costs {
	> div {
		.costs__sub-heading {
			text-transform: uppercase;
			font-weight: 300;
			font-size: 2.5rem;
			text-align: center;
			color: #56565a;
			letter-spacing: 0.05em;
		}
		.costs__heading {
			margin-top: -11rem;
			color: #c6c7cc;
			font-weight: 600;
			font-size: 25rem;
			text-align: center;
		}
		.costs__image {
			position: absolute;
			left: 2rem;
			top: 15rem;
			max-width: 110%;
			height: auto;
		}
		.costs__bottom-description {
			width: 55%;
		}
		.costs__bottom-buttons {
			display: flex;
			gap: 0.9rem;
		}
		.costs__bottom {
			display: flex;
			justify-content: space-between;
			align-items: start;
			margin-top: 18rem;
			// &-left {
			// }
			&-right {
				margin-top: -2rem;
				> div {
					display: flex;
					gap: 0.5rem;
					&:first-child {
						> div {
							font-size: 7rem;
							font-weight: 500;
							display: flex;
							color: #c6c7cc;
							letter-spacing: 0.002em;
							&:last-child {
								display: flex;
								flex-direction: column;
								margin-top: 2.3rem;
								> span {
									line-height: 1.2;
									display: block;
									font-size: 2.5rem;
									color: $color-text;
									font-weight: 600;
								}
							}
						}
					}
					&:last-child {
						margin-top: 2.5rem;
						font-size: 0.9rem;
						justify-content: end;
					}
				}
			}
		}
	}
}
