.header {
	padding: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__logo {
		font-size: 2rem;
		font-weight: 700;
	}

	&__menu {
		> ul {
			display: flex;
			align-items: center;
			gap: 1rem;

			> li > a {
				font-weight: 500;
				color: $color-muted;
				transition: color 0.3s ease;

				&:hover {
					color: $color-text;
				}
			}
		}
	}
}
