.loyalty {
	margin-top: 25rem;
	> div {
		display: flex;
		flex-direction: column;
		.loyalty__top {
			margin-left: auto;
			max-width: max-content;
		}
		.loyalty__image {
			position: absolute;
			left: -28rem;
			top: 15rem;
			max-width: 130%;
			height: auto;
		}
		.loyalty__bottom {
			margin-top: 30rem;
		}
	}
}
