.mission {
	position: relative;
	width: 28%;
	margin: 13rem auto 0;
	z-index: 2;
	> div {
		opacity: 0.6;
		margin: 0.7rem auto;
		font-size: 2.8rem;
		font-weight: 700;
		text-align: center;
		line-height: 1.3;
		&:first-child {
			opacity: 1;
		}
	}
}
