section {
	padding: 12rem 0;
	position: relative;
}

.section__description {
	width: 54%;
	margin: 1.7rem 0;
}

.luxury-flights__image {
	position: absolute;
	right: 0;
	bottom: -30rem;
	width: 75%;
	height: auto;
}
