.btn {
	border-radius: 1.5rem;
	background-color: $color-block;
	padding: 0.4rem 0.8rem;
	font-weight: 600;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
	transition: background-color 0.4s ease;

	&:hover {
		background-color: #f1f1f1;
	}

	&--primary {
		background-color: #393847;
		color: $color-block;
		box-shadow: none;

		&:hover {
			background-color: $color-text;
		}
	}

	&--gray {
		background-color: #dcdde3;
		color: #32323a;
		box-shadow: none;
	}
}

.sub-title {
	opacity: 0.7;
	text-transform: uppercase;
	font-size: 1.1rem;
	font-weight: 500;
}

.description {
	margin: 1.4rem 0 1.7rem;
	font-size: 1.3rem;
	font-weight: 500;
}

.section-title {
	font-size: 9.5rem;
	font-weight: 800;
	line-height: 1;

	> div {
		font-weight: 400;
	}
}
