.welcome {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 60vh;

	&__information {
		width: 40%;
		margin: 0 auto;
		text-align: center;
		position: relative;
		z-index: 1;
	}
	&__sub-text {
		opacity: 0.7;
		text-transform: uppercase;
		font-size: 1.1rem;
		font-weight: 500;
	}
	&__title {
		font-size: 6rem;
		font-weight: 600;
		line-height: 1;
	}
	&__description {
		margin: 1.4rem 0 1.7rem;
		font-size: 1.1rem;
		font-weight: 500;
	}

	&__cta {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.8rem;
		margin: 0 auto;
	}

	&__plane {
		position: absolute;
		bottom: -18rem;
		max-width: 100%;
		height: auto;
		margin-top: 0;
		z-index: 0;
		pointer-events: none;
		user-select: none;
	}
}
