.welcome {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 60vh;

	&__information {
		width: 40%;
		margin: 0 auto;
		text-align: center;
		position: relative;
		z-index: 1;
	}

	&__title {
		font-size: 7rem;
		font-weight: 600;
		line-height: 1;
	}

	&__cta {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.8rem;
		margin: 0 auto;
	}

	&__plane {
		position: absolute;
		bottom: -18rem;
		max-width: 65%;
		height: auto;
		margin-top: 0;
		z-index: 1;
	}

	&__bg-clouds {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 0;

		> img {
			position: absolute;
			user-select: none;

			&:nth-child(1) {
				top: -15rem;
				left: 10rem;
				width: 25vw;
			}

			&:nth-child(2) {
				top: 4rem;
				left: 49%;
				transform: translateX(-50%);
				width: 60vw;
			}

			&:nth-child(3) {
				top: -3rem;
				right: -10rem;
				width: 25vw;
				transform: rotate(10deg);
			}
		}
	}

	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: -8rem;
		z-index: 2;
		background: radial-gradient(
			ellipse at 50% 30%,
			rgba(110, 135, 175, 0.07) 0%,
			transparent 75%
		);
		pointer-events: none;
	}
}
